* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

/* Nav */
.header-nav{
    display: flex;     
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    top: 10px;
    height: 7vh;
    width: 97%;
    min-width: 300px;
    border-radius: 15px;
}

/* PegaPega Logo */
.nav-logo{    
    margin-left: 10%;
}
.nav--logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;    
    text-align: center;
    width: 36px;
    height: 36px;
    background-color: red;
    border-radius: 50%;
}
.nav--logo-container h6 {
    font-size: 0.9rem;  
    font-weight: 500;
    color: white;     
}

/* Nav Buttons */
.nav--buttons-container {
    display: flex;
    
}
.nav-buttons {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

/* Nav Sidebar-Opener */
.sidebar-toggle {
    background-color: transparent;
    width: auto;
    border: none;
    margin-right: 7%;
}
.sidebar-img {
    cursor: pointer;
    width: 30px;
    height: 30px;    
    margin-top: 4px;
}
/* Sidebar Container */
.sidebar {    
    box-shadow: 0px 5px 25px 2px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    transform: translate(-100%);
}
.aside-logo {
    display: flex;    
    margin-top: 60px;    
    justify-content: flex-end;
}
.ul-fab li {
    background: white;
    transition: border 0.3s;
}
.ul-fab li:hover {
    background: #444;
    border-left: 5px solid #eee;
}
.show-sidebar{
    transform: translate(0);
}
/* Close-sidebar Button */
.close-btn{
    background-color: white;
    width: auto;
    border: none;
    margin-right: 5%;
}
.close-sidebar-img {    
    cursor: pointer;
    width: 30px;
    height: 30px;
}
/* Social Networks List */
.ul-fab {
    margin-top: 40px;
    margin-left: 15%;
}
.li-fab {
    margin-top: 20px;
}
.fab {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common-div {
    display: flex;
}
.blood-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.445);
    border-radius: 50%;
}